.toolBar {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  align-items: center;
  box-shadow: 0 2px 8px 4px rgb(19, 18, 18);
}

.toolBar img {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  border: 5px solid var(--white);
  border-radius: 50%;
}

.toolBar h1 {
  margin-right: 20px;
  font-size: 40px;
  color: var(--white);
}

.toolBar .account-option {
  margin-left: auto;
  margin-right: 10px;
}
